@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss" source(none);

@source "./";

/*
@layer base {
    body {
        font-family: "Quicksand", serif;
    }
}
*/

@theme {
    --font-quicksand: "Quicksand", serif;
}

@layer base {
    body {
        font-family: var(--font-quicksand)
    }
}